<footer>
<!--  <p>&copy; 2020 Tiago Nunes</p>-->
    <p style="font-size:64px">&#128525;</p>
  <p>Thanks for scrolling, thats all.</p>
  <ul>
     <a href="https://www.behance.net/tiago_nunes"><img target="_blank" alt="Behance profile" src="assets/images/behance.svg"</a>
     <a href="https://www.instagram.com/tiagonunes96"><img target="_blank" alt="Instagram profile" src="assets/images/instagram.svg"</a>
     <a href="www.linkedin.com/in/jtiagonunes"><img target="_blank" alt="LinkedIn profile" src="assets/images/linkedin.svg"</a>
  </ul>
</footer>
