<header>
  <div id="topbar">
    <nav id="nav_desktop" role="desktop_navigation">
      <a href="{{site.baseurl}}/index.html">{{ item.title }}
        <h3>Tiago Nunes</h3>
      </a>
      <ul>
        {% for item in site.data.menu.pages %}
        <li><a href="{{site.baseurl}}/{{item.url}}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <nav id="nav_mobile" role="mobile_navigation">
      <div id="menuToggle">
        <input id="mobile_menu_toggle" type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          {% for item in site.data.menu.pages %}
          <li><a href="{{site.baseurl}}/{{item.url}}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>