---
layout: default
---

<div class="work">

<section class="work">

        <div class="column_work">
            {% for work in site.works %}
            <div class="work-preview">
                      <section class="work-order">
                          <p>Case {{ work.order }} of 4</p>
                      </section>
                      <section class="work-info">
                          <h2><b>{{work.title}}</b> {{work.description}}</h2>
                      </section>
                       <section class="work-page">
                           <a href="{{site.baseurl}}/works/{{work.slug}}" class="{% if page.url contains work.slug %}current{% endif %}">Read More &rarr;</a>
                       </section>
                        
            </div>
            {% endfor %}
        </div>

    </section>
    
</div>

