---
layout: default
---

<div class="work">

<section class="work">

        <div class="column_work">
            {% for work in site.works %}
            <div class="work-preview">
                     <section class="{{work.label}}">
                         <div class="work-order">
                          <p>&darr; Case {{ work.order }} of 4 &darr;</p>
                      </div>
                      <div class="work-info">
                          <h2><b>{{work.title}}</b> {{work.description}}</h2>
                      </div>
                       <div class="work-page">
                           <a href="{{site.baseurl}}/works/{{work.slug}}" class="{% if page.url contains work.slug %}current{% endif %}">Read More &rarr;</a>
                       </div>
                     </section>
            </div>
            {% endfor %}
        </div>

    </section>
    
</div>

