---
layout: default
---
<section class="about">
    <p>Hello! <a class="name">I'm Tiago Nunes.</a>
        <br>
        I am a 24 yo UX/UI Designer from Madeira Island, who finished his bachelor's degree in Communication Design. At the moment I am attending an postgraduate course in Digital Experience Design at Faculty of Fine-Arts in Lisbon.</p>
</section>


<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <section class="work">

        <div class="column_work">
            {% for work in site.works %}
            <div class="work-preview">
                <section class="{{work.label}}">
                    <div class="work-order">
                        <p>&darr; Case {{work.order}} of 4 &darr;</i></p>
                    </div>
                    <div class="work-info">
                        <h2><b>{{work.title}}</b> {{work.description}}</h2>
                    </div>
                    <div class="readmore">
                        <a href="{{site.baseurl}}/works/{{work.slug}}">Read More &rarr;</a>
                    </div>
                    <div class="work-thumbnail">
                        <img src="{{ site.baseurl }}/images/thumbnail/{{ image.image }}" alt="{{ image.alt }}" class="work-img">
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>

    </section>

</div>