---
layout: default
---

<div class="main-photography">
    <div class="content">
        <section class="photo-cat mtb">
            <div class="photo-slideshow">
                <img src=" {{ site.baseurl }}/images/photography/mtb.png" alt="Mountain Biking Photography">
            </div>
            <div class="photo-cat title">
                <h3><b>Mountain Bike</b></h3>
            </div>
        </section>
        <section class="photo-cat auto">
            <div class="photo-slideshow">
                <img src=" {{ site.baseurl }}/images/photography/auto.png" alt="Motorsport Photography">
            </div>
            <div class="photo-cat title">
                <h3><b>Motorsport</b></h3>
            </div>
        </section>
        <section class="photo-cat landscape">
            <div class="photo-slideshow">
                <img src=" {{ site.baseurl }}/images/photography/landscape.png" alt="Landscape Photography">
            </div>
            <div class="photo-cat title">
                <h3><b>Landscape</b></h3>
            </div>
        </section>
        <div class="prints">
            <h3>Available for collaborations, send me an <a href="mailto:tiagonunes96@live.com.pt" target="_blank"> → email for more info</a>.</h3>
        </div>
    </div>
</div>