---
layout: default
---

<div class="main-photography">
    <div class="text-container">
        <h2>Photography</h2>
    </div>


    <div class="photo-container">
        <div class="photo-cat mtb">
            <div class="photo">
                <img src=" {{ site.baseurl }}/images/photography/mtb.jpg" alt="Mountain Biking Photography">
            </div>
            <div class="photo-cat title">
<!--                <h3><b>Mountain Bike</b></h3>-->
            </div>
        </div>
        <div class="photo-cat auto">
            <div class="photo">
                <img src=" {{ site.baseurl }}/images/photography/auto.jpg" alt="Motorsport Photography">
            </div>
            <div class="photo-cat title">
<!--                <h3><b>Motorsport</b></h3>-->
            </div>
        </div>
        <div class="photo-cat landscape">
            <div class="photo">
                <img src=" {{ site.baseurl }}/images/photography/landscape.jpg" alt="Landscape Photography">
            </div>
            <div class="photo-cat title">
<!--                <h3><b>Landscape</b></h3>-->
            </div>
        </div>
        <div class="collaborations">
            <h3>Available for collaborations, send me an <a href="mailto:tiagonunes96@live.com.pt" target="_blank"> → email for more info</a></h3>
        </div>
    </div>
</div>